VisualizzaBiglietti/Web References/wsTicket/ServizioRemoto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://biglietti.mailticket.it/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://biglietti.mailticket.it/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://biglietti.mailticket.it/">
      <s:element name="RecuperaBiglietti">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdMan" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperaBigliettiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperaBigliettiResult" type="tns:ArrayOfBiglietto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBiglietto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Biglietto" nillable="true" type="tns:Biglietto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Biglietto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="QRCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceBiglietto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCMAC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prezzo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prevendita" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Totale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="filaeposto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titolare" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Organizzatore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataEmissione" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sistema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoTitolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescTitolo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Modificato" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="InserisciAnagrafica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceBiglietto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserisciAnagraficaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InserisciAnagraficaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecuperaBigliettiSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperaBiglietti" />
  </wsdl:message>
  <wsdl:message name="RecuperaBigliettiSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperaBigliettiResponse" />
  </wsdl:message>
  <wsdl:message name="InserisciAnagraficaSoapIn">
    <wsdl:part name="parameters" element="tns:InserisciAnagrafica" />
  </wsdl:message>
  <wsdl:message name="InserisciAnagraficaSoapOut">
    <wsdl:part name="parameters" element="tns:InserisciAnagraficaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServizioRemotoSoap">
    <wsdl:operation name="RecuperaBiglietti">
      <wsdl:input message="tns:RecuperaBigliettiSoapIn" />
      <wsdl:output message="tns:RecuperaBigliettiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserisciAnagrafica">
      <wsdl:input message="tns:InserisciAnagraficaSoapIn" />
      <wsdl:output message="tns:InserisciAnagraficaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServizioRemotoSoap" type="tns:ServizioRemotoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperaBiglietti">
      <soap:operation soapAction="https://biglietti.mailticket.it/RecuperaBiglietti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciAnagrafica">
      <soap:operation soapAction="https://biglietti.mailticket.it/InserisciAnagrafica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServizioRemotoSoap12" type="tns:ServizioRemotoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperaBiglietti">
      <soap12:operation soapAction="https://biglietti.mailticket.it/RecuperaBiglietti" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciAnagrafica">
      <soap12:operation soapAction="https://biglietti.mailticket.it/InserisciAnagrafica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServizioRemoto">
    <wsdl:port name="ServizioRemotoSoap" binding="tns:ServizioRemotoSoap">
      <soap:address location="http://biglietti.mailticket.it/ServizioRemoto.asmx" />
    </wsdl:port>
    <wsdl:port name="ServizioRemotoSoap12" binding="tns:ServizioRemotoSoap12">
      <soap12:address location="http://biglietti.mailticket.it/ServizioRemoto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>